<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet'  type= "text/css" href="./css/jass.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Birthstone&family=Birthstone+Bounce&family=Chilanka&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' type= "text/css" href="./css/janets.css">
  <title>Nanny Poppins</title>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand"> Nanny Poppins</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="nav-options">
          <ul class="navbar-nav navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <!-- check back in w aria-current= page and adding active to nav-link class-->
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/dashboard/profile">Dashboard</a>
            </li>
            <!--if logged in show the log out button -->
            {{#if logged_in}}
            <li class="nav-item">
              <a class="nav-link active" id="logout" href="/api/users/logout">Log Out</a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link active" href="/api/users/login">Login</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </nav>
   
  <main>
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
</body>


</html>