<h1>Hi,{{name}}!</h1>
 
 <div class="col-md-6">
    <div class="card">
      <div class="card-body" id="signup-card">

          <form class="form updateProfile-form">
            <div class="form-group">
              <label for="name-signup">name:</label>
              <input class="username" type="text" id="name-signup" />
            </div>
            <div class="form-group">
              <label for="email-signup">email:</label>
              <input class="userEmail" type="text" id="email-signup" />
            </div>
          
            <div class="form-group">
              <label for="biography">Tell us about yourself:</label>
              <textarea class="userBio" id="userBio" rows="3"></textarea>
            </div>
            {{#if number_of_children}}
            <div class="form-group" id="parentQuestions">
              <label for="exampleFormControlSelect1">How many kids do you have?</label>
              <select class="form-control" id="numberOfKids">
                <option selected disabled hidden></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5 +</option>
              </select>
            </div>

            {{else}}
            <div id="nannyQuestions">

              <input class="form-control" id="nannyAge" type="text" placeholder="Input Your Age">

              <div class="form-group">
                <label for="exampleFormControlSelect1">Years of experience</label>
                <select class="form-control" id="experience_years">
                  <option placeholder="Enter Your Years of Experience"></option>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5 +</option>
                </select>
              </div>

              <input class="form-control" type="text" id="certifications"
                placeholder="What certifications do you have? ie. college degrees, CPR certified. ">

              <input class="form-control" type="text" placeholder="Hourly rate" id="hourly_rate">

              <input class="form-control" type="text" placeholder="Age range most experienced with" id="age_range">
            </div>
          {{/if}}
            <div class="form-group" >
              <button class="btn btn-primary update-button"type="submit">Update</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

<script src="/js/editprofile.js"></script>