<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' type="text/css" href="/css/jass.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel='stylesheet' type="text/css" href="/public/css/janets.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Birthstone&family=Birthstone+Bounce&family=Chilanka&display=swap"
    rel="stylesheet">

  <title>Nanny Poppins</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mb-4">
        <div class="card">
          <img class="card-img-top" src="" alt="">

          <div class="card-body bio-card">
            <h2>Welcome, {{name}}!</h2>
            <p>{{bio}}</p>
            <p>{{hourly_rate}}</p>
            <p>{{number_of_children}}</p>
            <p>{{user_type}}</p>
            <p>{{certification}}</p>
            <p>{{description}}</p>
            <!-- {{! THIS WONT WORK, must happen using JS}} -->
            <img id="userprofilephoto" src="../image/blank-user.jpeg" || "{{photo}}"></img>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mb-4">
        <div class="card">
          <img class="card-img-top" src="" alt="">

          <div class="card-body image-card">
            <h2 class="card-title">Add Image</h2>
            <img id="userprofilephoto" src="../image/blank-user.jpeg" || "{{photo}}"></img>
            {{! get this functional}}
            <!-- <form>
							<div class="form-group">
								<label for="profilePicture">Upload your profile pic:</label>
								<input type="file" class="userProfilePic" id="ProfilePic">
							</div>
						</form> -->

            <p>{{experience_years}}</p>
            <p>{{nanny_age}}</p>
            <p>reviews {{review}}</p>
            <p>{{age_range}}</p>
            <p>{{email}}</p>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 mb-4">
        <div class="card">
          <img class="card-img-top" src="" alt="">

          <div class="card-body review-card">
            <div class="row">
              <div class="col-md-6">
                <h3>Leave a Review for Your Nanny:</h3>

                <form class="form review-form" id="review_nanny">
                  <div class="form-group" id="selectNanny">
                    <label for="select-nanny">Which Nanny do you want to leave a review for?</label>
                    <select class="form-control form-control-lg" id="nanny_id">
                      <option>Choose Nanny</option>
                      {{#each nannies}}
                      <option value="{{id}}">{{name}}</option>
                      {{/each}}}
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="project-funding">Write Your Review Here</label>
                    <textarea name="nanny_review" id="nanny-review" cols="30" rows="10"></textarea>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
              <div class="col-md-6 message-section">
                {{#each messages }}
                <div class="row align-center mb-5">
                  <div class="col-md-6">
                    <p>{{this.message}}</p>
                    <p>Sent by {{this.sender_name}}</p>
                  </div>
                </div>
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/profile.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>