{{name}}

  <form id="imageForm">
      <div class="form-group">
        <label for="profilePicture">Upload your profile pic:</label>
        <input type="file" id="imageInput" accept="image/*" >
        <a class="btn btn-primary"type="submit">Upload</a>
      </div>
    </form>

    <script src="/js/uploadimage.js"></script>