
<form id="submitForm">
    <div class="form-group">
      <label for="profilePicture">Upload your profile pic:</label> 
      <input type="file" id="photo" accept="image/*">
      <button class="btn btn-primary" type="submit" id="submitPhoto">Upload</button>
    </div>
</form>

<script src="/js/uploadimage.js"></script>