.class {
    height: 3em;
    width: 3em;
}
body {
    background: #da837e

}

.form-control:focus {
    box-shadow: none;
    border-color: #da837e
}

.profile-button {
    background: #da837e;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #da837e;

}

.profile-button:focus {
    background: #da837e;
    box-shadow: none
}

.profile-button:active {
    background: #da837e;
    box-shadow: none
}
.back:hover {
    color: #da837e;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #da837e;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

/* .container {
display: grid;
grid-template-columns: auto auto auto;
row-gap: 30px;
padding: 10px; 
}
 .row {
    background-color: lightcyan;
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 50px;
    height: 100vh;
  
 } */