.class {
    height: 3em;
    width: 3em;
}
body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}
.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

/* .container {
display: grid;
grid-template-columns: auto auto auto;
row-gap: 30px;
padding: 10px; 
}
 .row {
    background-color: lightcyan;
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 50px;
    height: 100vh;
  
 } */